.response-card {
  display:flex;
  justify-content: center;
  margin: auto;
  /* width:700px; */
  width: 80%;
  overflow-y: auto;
  min-height: 80px;
  max-height: 300px;
}

.topic-responses {
  padding-bottom: 60px;
}

em {
  font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* .response-card {
    width: 80%;
  } */
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}